* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: rgba(250, 245, 236, 0.897);
}

hr {
    color: rgb(253, 245, 230);
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    align-self: flex-start;
}

.header h1 {
    padding: 10px
}

.body {
    flex-flow: column;
    overflow-y: auto;
}

.about, .message {
    padding: 10px;
}

.content {
    font-family: 'lato';
}

.nav {
    margin-bottom: 10px;
    color: rgb(100, 120, 100);
}

.nav *:hover {
    background-color: rgba(216, 205, 186, 0.897);
}

.nav a {
    margin-left: 10px;
}

.nav span {
    margin-left: 20px
}

a:visited {
    color: inherit;
}

.form * {
    display: block;
    margin: 5px;
}

.form button {
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 1px rgb(240, 233, 197);
    background-color:rgba(255, 243, 221, 0.9);
    /* color: lightslategray; */
}

.form button:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 1px rgb(240, 233, 197);
}

textarea {
    width: 50%;
    height: 50%;
    font-family: 'Playfair Display', serif;
}

.createBlog {
    text-decoration: underline;
    cursor: pointer
}

.blog {
    position: relative;
    max-height: 30%;
    border: 1px solid black;
    border-radius: 0.5em;
    max-width: 600px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: white;
    pointer-events: none;
}

.blog .date {
    font-style: italic;
    margin: 10px;
}

.blog .title {
    font-weight: bold;
    font-size: 110%;
    margin: 10px;
}

.blog .content {
    margin: 10px;
    word-wrap: break-word;
}

.edit {
    top: 0;
    cursor: pointer;
    flex-direction: row-reverse;
    display: none;
    padding-right: 10px;
}

.edit img {
    margin-right: 10px;
    opacity: 0.4;
}

.edit img:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.blog:hover {
    opacity: 0.6;
}

.editContainer {
    height: 24px;
    width: 100%;
    position: absolute;
    pointer-events: auto;
    top: 0;
}

.editContainer:hover .edit {
    display: flex;
}

.footer {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    align-self: flex-end;
}

.footerContent {
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI';
}