<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <title>Document</title>
</head>
<style>
    .style1 {
        display: inline-block;
        border: 1px solid black;
        margin-right: 3px;
    }

    .style1.active {
        color: rgb(10, 25, 236);
        text-decoration: underline;
    }
</style>
<body>
    <div id="app"></div>
    <script type="text/babel">
        function App2(props)
        {
            return <div> hello </div>
        }

        function App3(props)
        {
            const arr = [1, 2, 3];
            const tableCells = arr.map(x => <td style={{border: "1px solid black"}}>{x}</td>);
            return (
                <React.Fragment>
                    {tableCells}
                </React.Fragment>
            )
        }

        function App4(props)
        {
            return (
                <div>
                    <div>App4</div>
                    <div>{props.children}</div>
                </div>
            )
        }

        class App extends React.Component {
            constructor(props) {
                super();
                this.state = {
                    clicked:0,
                    date: new Date()
                }
            }
            componentDidMount() {
                this.intervalID = setInterval(this.timer, 1000);
            }
            componentWillUnmount() {
                clearInterval(this.intervalID);
            }
            timer = () =>
            {
                this.setState({date: new Date()})
            }
            click = () =>
            {
                this.setState({clicked:this.state.clicked+1})
            }
            click2 = () =>
            {
                this.setState({activated:true})
            }
            render() {
                var test = 'a';
                let spanClass = 'style1'; 
                if (this.state.activated)
                    spanClass = spanClass + ' active';
                return (
                    <div>
                        <div> hello world! </div>
                        <div> {test} </div>
                        <button onClick={this.click}>Clicked {this.state.clicked} times</button>
                        <div> {this.props.name} </div>
                        <App2></App2>
                        <div> Current date is {this.state.date.toLocaleTimeString()}</div>
                        <table style={{borderCollapse:'Collapse'}}>
                            <tr>
                                <App3></App3>
                            </tr>
                        </table>

                        <span className={spanClass}>Test Span</span>
                        <button onClick={this.click2}>Activate Test Span</button>
                        <App4>test</App4>
                        <App4>
                            <App2></App2>
                            <div>test</div>
                        </App4>
                    </div>
                )
            }
        }
        ReactDOM.render(<App name='test'/>, document.getElementById("app"));
    </script>
</body>
</html>